@import "variables";
@import "./index.scss";

form[data-veli-design="floating-label"] {
  @mixin textFormate($color) {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    color: $color;
    font-size: $font-size;
  }

  @mixin fieldContainerFormat($color, $border, $shadow) {
    border: $border;
    // box-shadow: $shadow;
    outline: none;
  }

  .veli-field-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;

    // Checkbox and radio specific styling
    &:has(> input[data-veli-rules][type="checkbox"],
      > input[data-veli-rules][type="radio"]) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      gap: 8px;
      position: static;

      >label {
        position: static;
        transform: none;
        margin: 0;
        padding: 0;
        z-index: auto;
        font-size: $font-size;
        order: 2;
      }

      >input[data-veli-rules][type="checkbox"],
      >input[data-veli-rules][type="radio"] {
        margin: 0;
        flex-shrink: 0;
        order: 1;
      }

      .veli-error {
        width: 100%;
        order: 3;
      }
    }

    // Input field container - this wraps input and label together
    >input[data-veli-rules]:not([type="checkbox"]):not([type="radio"]),
    >textarea[data-veli-rules] {
      position: relative;
    }

    >label {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      margin: 0 10px;
      padding: 0 3px;
      font-size: $font-size;
      transition: all 0.2s ease-in-out;
      border-radius: 5px;
      pointer-events: none;
      width: fit-content;
      height: fit-content;
      margin: auto 10px;
    }

    input[type="checkbox"] {
      border-radius: $field-border-radius;
      border: 1px solid gray;
      outline: none;
      transition: all 0.2s ease-in-out;
      width: fit-content;
      position: static;
    }

    >input[data-veli-rules],
    textarea[data-veli-rules] {
      padding: 0 10px;
      height: $default-input-fields-height;
      border-radius: $field-border-radius;
      border: 1px solid $field-border-color;
      outline: none;
      transition: all 0.2s ease-in-out;
      background-color: $default-field-bg;
      position: relative;
    }

    >input[data-veli-rules]:focus,
    textarea[data-veli-rules]:focus {
      border: 1px solid rgb(70, 144, 255);
    }

    textarea[data-veli-rules] {
      padding: 10px;
      height: $default-textArea-height;

      &~label {
        align-items: flex-start;
        padding-top: 10px;
      }
    }

    >input[data-veli-rules]:not([type="checkbox"]):not([type="radio"]):focus~label,
    >input[data-veli-rules]:not([type="checkbox"]):not([type="radio"]):not( :placeholder-shown)~label,
    >textarea[data-veli-rules]:focus~label,
    >textarea[data-veli-rules]:not(:placeholder-shown)~label {
      top: 0;
      bottom: auto;
      scale: 0.8;
      padding: 0 5px;
      background-color: white;
      transform: translateY(-50%);
    }
  }

  .veli-error {
    @include textFormate($error-message-color);
  }

  .veli-error-field {
    @include fieldContainerFormat($error-message-color,
      $error-container-border,
      $error-container-shadow );
  }

  .veli-warning-field {
    @include fieldContainerFormat($warning-message-color,
      $warning-container-border,
      $warning-container-shadow );
  }

  .veli-info-field {
    @include fieldContainerFormat($info-message-color,
      $info-container-border,
      $info-container-shadow );
  }

  .veli-success-field {
    @include fieldContainerFormat($success-message-color,
      $success-container-border,
      $success-container-shadow );
  }
}