@import "variables";
@import "./index.scss";
form[data-veli-design="ifta-label"] {
  @mixin textFormate($color) {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    color: $color;
    font-size: $font-size;
  }
  @mixin fieldContainerFormat($color, $border, $shadow) {
    border: $border;
    // box-shadow: $shadow;
    outline: none;
  }
  .veli-field-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
    width: 100%;

    // Checkbox and radio specific styling
    &:has(
        > input[data-veli-rules][type="checkbox"],
        > input[data-veli-rules][type="radio"]
      ) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      gap: 8px;
      position: static;

      > label {
        position: static;
        transform: none;
        margin: 0;
        padding: 0;
        z-index: auto;
        font-size: $font-size;
        top: auto;
        order: 2;
      }

      > input[data-veli-rules][type="checkbox"],
      > input[data-veli-rules][type="radio"] {
        margin: 0;
        padding: 0;
        flex-shrink: 0;
        order: 1;
      }

      .veli-error {
        width: 100%;
        order: 3;
      }
    }

    > label {
      position: absolute;
      z-index: 1;
      top: 0;
      font-size: 13px;
      transition: all 0.2s ease-in-out;
      padding: 5px;
      pointer-events: none;
    }

    input[type="checkbox"] {
      border-radius: $field-border-radius;
      border: 1px solid $field-border-color;
      outline: none;
      transition: all 0.2s ease-in-out;
      width: fit-content;
      position: static;
    }

    > input[data-veli-rules],
    textarea[data-veli-rules] {
      border-radius: $field-border-radius;
      border: 1px solid $field-border-color;
      outline: none;
      box-sizing: border-box;
      padding: 23px 5px 5px 5px;
      background-color: $default-field-bg;
    }

    > input[data-veli-rules]:focus,
    textarea[data-veli-rules]:focus {
      border: 1px solid rgb(70, 144, 255);
    }

    textarea[data-veli-rules] {
      padding: 10px;
    }
  }

  .veli-error {
    @include textFormate($error-message-color);
  }

  .veli-error-field {
    @include fieldContainerFormat(
      $error-message-color,
      $error-container-border,
      $error-container-shadow
    );
  }

  .veli-warning-field {
    @include fieldContainerFormat(
      $warning-message-color,
      $warning-container-border,
      $warning-container-shadow
    );
  }

  .veli-info-field {
    @include fieldContainerFormat(
      $info-message-color,
      $info-container-border,
      $info-container-shadow
    );
  }

  .veli-success-field {
    @include fieldContainerFormat(
      $success-message-color,
      $success-container-border,
      $success-container-shadow
    );
  }
}
